<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="content-container">
        <div class="title-container">
            <h1>
                Find out the <span style="color: #3BD63B;">timing and cost</span> of a turnkey house according to your criteria
            </h1>
        </div>
        <div class="button-start-container">
            <button data-start-button="">Start</button>
        </div>
        <div class="bar">
            <div class="progres-container">
                <progress id="myProgress" value="14.29" max="100"></progress>
            </div>
            <div class="score">
                <p data-score-text="" >1 / 7</p>
            </div>
        </div>
        <div class="question">
        </div>
        <div class="buttons-container">
            <button class="btn prev-btn">Previous</button>
            <button class="btn next-btn">Next</button>
        </div>
        <div class="gift-and-text-finally-container">
            <img src="../static/images/circle.png" alt="">
            <h2 class="istok-web-regular">Great! Last step!</h2>
        </div>
        <div class="contact-and-information-finally-container">
            <div class="provide-contact-text">
                <h1 class="istok-web-regular">Provide contacts</h2>
            </div>
            <div class="labels-and-inputs-container">
                <form action="" data-submit-btn="">
                <input type="text" required placeholder="Your name" class="istok-web-regular" name="" id="">
                <input type="tel" required placeholder="Phone number" class="istok-web-regular" name="" id="">
                <button type="submit" class="btn-submit istok-web-regular">Submit</button>
                </form>
                <div class="info">
                    <p class="istok-web-regular">By submitting your contact information, you consent 
                        to processing your personal data and agree to the <span style="color: rgb(243, 127, 3); cursor: pointer;">policy privacy.</span></p>
                </div>
            </div>
            <div class="line"></div>
            <div class="gifts-and-sales">
                <div class="position">
                    <img src="../static/images/gift.png" alt="">
                    <p class="istok-web-regular">Get house designs according to your criteria 
                        with prices and layout</p>
                </div>
                <div class="position">
                    <img src="../static/images/gift.png" alt="">
                    <p class="istok-web-regular">Receive a 10% discount on finishing as a gift</p>
                </div>
            </div>
        </div>
    </div>
    <div class="under-content-text">
        <p>TAKE A SMALL SURVEY AND GET A FREE CONSULTATION</p>
    </div>
    <script src="../static/js/main.js"></script>
</body>
</html>